{{> header}}

<section class="bg secondary">
  <div class="content">
    <a href="/" class="button text primary">Home</a>
    <h1>Project Editor</h1>
  </div>
</section>

<section class="bg primary">
  <div class="content">
    <h2>Editor</h2>
    <form class="form">
      <h3>Name</h3>
      <input type="text" id="editor-name" name="name" placeholder="Name">
      <h3>Excerpt</h3>
      <input type="text" id="editor-excerpt" name="excerpt" placeholder="Excerpt">
      <h3>Thumbnail</h3>
      <input type="text" id="editor-thumbnail" name="thumbnail" placeholder="path/file.png">
      <h3>Content (Markdown)</h3>
      <textarea name="content" id="editor-content" placeholder="# Markdown here\nthanks..." style="height: 400px;"></textarea>

      <button type="button" id="editor-submit" class="button block secondary">Generate</button>

      <br><br>
      <h3>Result</h3>
      <textarea name="result" id="editor-result" style="height: 500px;">{}</textarea>
    </form>
  </div>
</section>

<script type="text/javascript">
  var nameField = document.getElementById('editor-name');
  var excerptField = document.getElementById('editor-excerpt');
  var thumbnailField = document.getElementById('editor-thumbnail');
  var contentField = document.getElementById('editor-content');
  var resultField = document.getElementById('editor-result');
  var submitButton = document.getElementById('editor-submit');

  submitButton.addEventListener('click', function() {
    var result = {};
    result.name = nameField.value;
    result.excerpt = excerptField.value;
    result.thumbnail = thumbnailField.value;
    result.content = contentField.value;

    resultField.value = JSON.stringify(result, null, 2);
  });
</script>

{{> footer}}
