<footer>
  <section class="bg primary">
    <div class="content">
      © 2016 Lukas von Mateffy <a href="https://twitter.com/Capevace">@Capevace</a>
    </div>
  </section>
</footer>
</div>

<script src="scripts/app.js"></script>
</body>
</html>
