{{> header}}

{{#project}}
<section class="bg secondary">
  <div class="content">
    <a href="/#projects" class="button block back inverted">
      <span class="icon i-left"></span>
      Back
    </a>
    <h1>{{name}}</h1>
    <p class="subheading">{{{excerpt}}}</p>
  </div>
</section>

<section class="bg dark-white">
  <div class="content">
    <ul class="slides">
      <li class="slide showing">
        <img src="images/portfolio/{{id}}/thumbnail.png" />
      </li>
      {{#slides}}
        <li class="slide">
          <img src="images/portfolio/{{id}}/{{file}}" alt="{{alt}}" />
        </li>
      {{/slides}}
    </ul>
    <button class="slider-button left"><span class="icon i-left"></span></button>
    <button class="slider-button right"><span class="icon i-right"></span></button>
  </div>
</section>

<section class="bg primary">
  <div class="content">
    {{{content}}}
  </div>
</section>

{{/project}}

{{> footer}}
