@import "colors";

.breadcrumbs {
    left: 0;
    margin: 0px;
    height: 36px;
    padding: 0px;

  li {
    display: inline-block;
    float: left;
    position: relative;
    margin-right: 5px;

    a {
      height: 36px;
      line-height: 36px;
      display: block;
      background: white;
      padding: 0px 15px;
      padding-right: 10px;
      border-radius: 3px;
      transition: background 300ms ease;
      will-change: background;
    }

    a:hover {
      background: $darkWhite;
      // color: $darkGreen;
      border-bottom: 0px solid transparent;

      &::after {
        border-left-color: $darkWhite;
      }
    }

    a::after {
      border-left-color: #ffffff;
      z-index: 11;
      transform: translateX(-1.5px);
      transition: border-color 300ms ease;
    }
  }

  li:not(:first-child) a {
    padding: 0px 10px;
    padding-left: 25px;
  }

  *::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    height: 0;
    width: 0;
    border: 18px solid transparent;
  }

  li::after {
    border-left-color: $green;
    z-index: 10;
    transform: translateX(5px);
  }

  li:last-of-type {

    &::after, a::after {
      border: none;
    }

    a {
      background: $darkGreen;
      cursor: default;
      padding-left: 25px;
      padding-right: 15px;
    }

    a:hover {
      color: $green;
    }
  }
}
