@import "colors";
@import "responsive-breaks";

.button {
  box-sizing: border-box;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    border-bottom: none;
  }

  &.block {
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 2px;
    transition: background 100ms ease;
    font-size: 16px;

    @media all and (max-width: $breakOne) {
      width: 100%;
      height: 100%;
      display: block;
    }

    &.primary {
      background: $white;
      color: $dark;

      &:hover {
        background: $darkWhite;
      }
    }

    &.secondary {
      background: $green;
      color: $darkWhite;

      &:hover {
        background: $darkGreen;
      }
    }

    &.inverted {
      background: $darkGreen;
      color: $green;

      &:hover {
        background: darken($darkGreen, 2%);
      }
    }

    &.back {
      padding: 9px 15px;
      line-height: 2;

      span.icon {
        color: inherit;
        font-size: 30px;
        margin: 0px;
        padding: 0px;
        position: relative;
        line-height: 0.5;
        display: block;
        display: inline-block;
        position: relative;
        height: 11px;
        top: 7px;
        left: -8px;
        width: 18px;
        font-weight: 700;
      }
    }
  }
}
