$white: #f7f7f9;
$darkWhite: #eee;

$dark: #555;

$green: #03c296;
$darkGreen: #008969;

$blue: #10a0b9;
$darkBlue: #376169;

$orange: #ff5c0c;
$red: #D5514F;
$pink: #9C0347;

// Yellow: #ffcb15
// Pink: #ed1a60
// #7e3ad2  19cf86


$section-text: $dark;

/* COLORS */
.bg {
  &.primary {
    background: $white;
  }

  &.secondary {
    background: $green;
    color: $white;
  }

  &.dark {
    background: $dark;
    color: $white;
  }

  &.white {
    background: $white;
  }

  &.dark-white {
    background: $darkWhite;
  }
}

.text {
  &.primary {
    color: $white;
  }

  &.primary:hover {
    border-bottom-color: $white;
  }

  &.secondary {
    color: $green;
  }

  &.error {
    color: $red;
  }

  &.dark {
    color: $dark;
  }

  &.white {
    color: $white;
  }

  &.dark-white {
    color: $darkWhite;
  }
}
