@import "colors";

.browsehappy {
  text-align: center;
  color: $dark;
  padding: 20px;
}

.margin {
  &.top {
    margin-top: 30px;
  }

  &.bottom {
    margin-bottom: 30px;
  }
}

.clear {
  clear: both;
}


.js-required {
  display: none;
}
