@import "colors";

form.form {
  input, textarea, label {
    display: block;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 2px;
    color: $dark;
  }

  *::placeholder {
    color: $dark;
  }

  label {
    color: $dark;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
    font-weight: 500;
  }

  input {
    width: 50%;
    height: 40px;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $white inset;
  }

  textarea {
    width: 100%;
  }

  input, textarea {
    font-size: 14px;
    background: $white;
    outline: none;

    border: 1px solid transparentize($green, 0.5);
    transition: border-color 300ms ease;
  }

  input:focus, textarea:focus {
    border-color: $green;
  }

  input:disabled, textarea:disabled {
    border-color: $darkGreen;
    background: $darkWhite;
    cursor: not-allowed;
  }

  input:disabled:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $darkWhite inset;
  }

  button {
    border: none;
    border-radius: 2px;
    box-sizing: border-box;

    margin-top: 20px;
    display: inline-block;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow: hidden;

    & * {
      content: "Loading";
      transition: opacity 100ms ease;
      opacity: 1 !important;
    }

    &.loading * {
      opacity: 0 !important;
    }

    &.loading::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 20%;
      top: 0;
      left: -20%;
      bottom: 0;
      background: $darkGreen;
      transform: translateX(0px);
    }

    &.loading::before {
      -webkit-animation: button-loading 1s 1;
      -moz-animation: button-loading 1s 1;
      animation: button-loading 1s 1;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  @keyframes button-loading {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateX(1000%);
    }
  }

  .not-human {
    display: none;
  }
}
