@import "responsive-breaks";

.row {
  width: 100%;
}

.row::after, .col::after {
  content: "";
  display: block;
  clear: both;
}

.col {
  display: block;
  box-sizing: border-box;
  float: left;

  &.full {
    width: 100%;
  }

  &.half {
    width: 50%;
  }

  &.third {
    width: 33.3333333%;
  }

  &.fourth {
    width: 25%;
  }

  &.fifth {
    width: 20%;
  }

  .center {
    text-align: center;

    * {
      margin-top: 40px;
    }
  }

  @media all and (max-width: $breakOne) {
    &.half {
      width: 100%;
    }

    &.third {
      width: 50%;
    }

    &.fourth {
      width: 50%;
    }

    &.fifth {
      width: 50%;
    }
  }

  @media all and (max-width: $breakThree) {
    &.third {
      width: 100%;
    }

    &.fourth {
      width: 100%;
    }

    &.fifth {
      width: 100%;
    }
  }
}
