@import "colors";

@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?9sxekw');
  src:  url('../fonts/icons.eot?9sxekw#iefix') format('embedded-opentype'),
        url('../fonts/icons.ttf?9sxekw') format('truetype'),
        url('../fonts/icons.woff?9sxekw') format('woff'),
        url('../fonts/icons.svg?9sxekw#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.big {
    font-size: 70px;
  }

  &.green {
    color: $green;
  }

  &.blue {
    color: $blue;
  }

  &.dark-blue {
    color: $darkBlue;
  }

  &.orange {
    color: $orange;
  }

  &.pink {
    color: $orange;
  }

  &.red {
    color: $red;
  }
}

.i-tags:before {
  content: "\e60c";
}
.i-db:before {
  content: "\e617";
}
.i-printer:before {
  content: "\e61f";
}
.i-folder:before {
  content: "\e622";
}
.i-phone:before {
  content: "\e627";
}
.i-display:before {
  content: "\e634";
}
.i-mail:before {
  content: "\e639";
}
.i-browser:before {
  content: "\e672";
}
.i-right:before {
  content: "\e684";
}
.i-left:before {
  content: "\e686";
}
.i-controller:before {
  content: "\e6a4";
}
.i-code:before {
  content: "\ea80";
}
.i-terminal:before {
  content: "\ea81";
}
.i-facebook:before {
  content: "\ea90";
}
.i-twitter:before {
  content: "\ea96";
}
.i-github:before {
  content: "\eab0";
}
.i-npm:before {
  content: "\eab1";
}
