@import "animations";
@import "breadcrumbs";
@import "buttons";
@import "colors";
@import "extras";
@import "forms";
@import "grid";
@import "icons";
@import "portfolio";
@import "responsive-breaks";
@import "slider";
@import "typography";

body, html {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  background: $white;
}

.page {
  &.fadeIn {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
  }

  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  animation-timing-function: ease-in-out;

  &.fadeOut {
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
  }
}

section {
  display: block;
  margin: 0 auto;
  padding: 50px 20px;

  background: $white;
  color: $section-text;

  .content {
    width: 720px;
    margin: 0 auto;

    @media all and (max-width: $breakOne) {
      width: 500px;
    }

    @media all and (max-width: $breakTwo) {
      width: 100%;
    }
  }
}

nav.top {
  ul {
    display: block;
    list-style-type: none;
    float: right;
  }

  ul li {
    display: inline-block;
    margin-left: 20px;
  }
}
