@import "colors";
@import "responsive-breaks";

.portfolio {
  padding-top: 50px;

  .item {
    width: 50%;
    float: left;
    margin-bottom: 30px;

    @media all and (max-width: $breakOne) {
      & {
        width: 100%;
      }
    }

    .picture {
      img {
        margin: 0 auto;
        width: 75%;
        position: relative;
        left: 50%;
        margin-left: -37.5%;
      }
    }

    .text {
      text-align: center;

      h3 {
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 24px;
        color: $green;
      }

      p {
        position: relative;
        left: 50%;
        margin-left: -40%;
        margin-bottom: 50px;
        display: block;
        width: 80%;
        min-height: 72px;
      }
    }

  }

  .item::after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
  }

  .item:last-child::after {
    display: none;
  }
}
