@import "colors";
@import "responsive-breaks";

.slides {
	position: relative;
	height: 150px;
	padding: 0px;
	margin: 0px;
	list-style-type: none;

  .slide {
  	position: absolute;
  	left: 0px;
  	top: 0px;
  	width: 100%;
  	height: 100%;
  	opacity: 0;
  	z-index: 1;
    box-sizing: border-box;

  	-webkit-transition: opacity 1s;
  	-moz-transition: opacity 1s;
  	-o-transition: opacity 1s;
  	transition: opacity 1s;

    img {
      width: 100%;
      max-width: 680px;
      display: block;
      margin: 0 auto;
    }

    &.showing{
    	opacity: 1;
    	z-index: 2;
    }
  }
}

.slider-button {
  position: absolute;
  display: block;
  margin-top: -243px;
  z-index: 100;
  background: $white;
  border-radius: 100px;
  width: 45px;
  height: 45px;
  border: none;
  outline: none;
  cursor: pointer;
  line-height: 0px;
  color: $dark;
  opacity: 0.4;
  transition: opacity 200ms ease;

	font-size: 25px;

  &:hover {
    opacity: 1;
  }

	&.left {
		transform: translateX(-25px);
	}

  &.right {
    @media all and (max-width: $breakOne) {
      margin-left: 480px;
    }

    @media all and (max-width: $breakTwo) {
      margin-left: 85%;
    }

    margin-left: 700px;
  }

  @media all and (max-width: $breakOne) {
    margin-top: -168px;
  }

  @media all and (max-width: $breakTwo) {
    margin-top: -34%;
  }
}
