@import "colors";

/* TYPOGRAPHY */
h1 {
  font-size: 55px;
  font-weight: 600;
}

.subheading {
  margin-top: -30px;
  font-size: 22px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  color: $green;
}

h3 {
  font-weight: 500;
  color: $green;
}

a {
  color: $green;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 1px;
  transition: border-bottom-color 300ms ease;
  border-bottom-color: transparent;
}

a:hover {
  border-bottom: 2px solid $green;
}

p {
  line-height: 36px;
  font-weight: 400;
}

a p {
  color: $dark;
}

.weight {
  &.normal {
    font-weight: 400 !important;
  }

  &.semi-bold {
    font-weight: 500 !important;
  }

  &.bold {
    font-weight: 600 !important;
  }

  &.ultra-bold {
    font-weight: 800 !important;
  }
}
